// Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;

// Media Queries
$movil: 480px;
$tablet: 800px;
$desktop: 1024px;

// Colores
$primario: #291c05;
$secundario: #e2be88;
$negro: #000;
$blanco: #fff;
$grisClaro: #cccccc;
$cafeClaro: #e4d8c6;

// Unidades
$separacion: 5rem;